<div *ngIf="movies.length>0 ; else notFound">
    <h1 >{{title}}</h1> 
    <div class="alert alert-warning" *ngIf="movies.length>0">{{filterMovies.length}} Film was found </div>
    <!-- <ng-template [ngTemplateOutlet]="movieList2" [ngTemplateOutletContext]="{movies:popularMovies}"></ng-template> -->
    
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Seach..." 
        [(ngModel)]="filterText"
        (ngModelChange)="onInputChange()"
        >
      <small class="text-muted" *ngIf="filterText">the word you are looking for : {{filterText}}</small>
    </div>

    <ng-template [ngTemplateOutlet]="movieList1"></ng-template>
</div>

<ng-template #movieList1>
  
  <div class="card mb-3" *ngFor="let movie of filterMovies  ">
    <div class="row">
      <div class="col-md-3">
        <img src={{movie.img}} class="img-fluid rounded-start" alt="">
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h2 class="card-title">{{movie.title | titlecase}}</h2>
          <p class="card-text">{{movie.desc | summary:50}}</p>
          <p class="card-text">{{movie.datePublished | date:'mediumDate' }}</p>
          <div>
            <button class="btn btn-sm btn-outline-primary">Details</button>
            <button (click)="AddList($event,movie)" class="btn btn-sm btn-primary" >Add to List</button>
          </div>
        </div>
      </div>
    </div>
  </div> 
</ng-template>  
<!-- <ng-template #movieList2 let-popularFilms="movies">
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
    <div class="col" *ngFor="let movie of popularFilms">
      <div class="card h-100">
        <img src={{movie.img}} class="img-fluid rounded-start" alt="">
        <div class="card-body">
          <h2 class="card-title">{{movie.title}}</h2>
          <p class="card-text">{{movie.desc}}</p>
        </div>

      </div>
    </div>
  </div>
</ng-template>   -->
<ng-template #notFound>
  <div class="alert alert-warning" >The Film was not found</div> 
</ng-template>